############################################################
# Sample Environment variable template
# Defines the form displayed to users in the device or group settings to provide parameters to the app
############################################################

# NOTE: Template entries without a label property will not be displayed
# NOTE: the "label" and "type" must be present on each variable

SPEED:                                      # The name of the environment variable that contains the user provided value
    label: Speed                            # Label displayed above the input field. (string)
    type: numeric                           # Type of value. ('numeric' | 'text' | 'boolean')
    defaultValue: 1000                      # Default value. (string | number)
    description: Numeric field example      # Description. (string)
    unit: km/h                              # Unit displayed next to label. (string)
    max: 4000                               # Maximum allowed value. Only makes sense with 'numeric' type. (number)
    min: 500                                # Minimum allowed value. Only makes sense with 'numeric' type. (number)
    secret: false                           # Makes value invisible once set. (boolean)
    optional: true                          # Is the field optional or required. (boolean)
SENSITIVITY:
    label: Sensitivity
    type: numeric
    defaultValue: 600
    description: Dropdown Example
    valueList: [500, 600, 800, 2000, 4000]  # Renders a dropdown field allowing the selection from a list of values.  (number[] | string[])
    optional: false
PASSWORD:
    label: Password
    type: text
    description: Secret input example
    secret: true
    optional: false
ENABLED:                                    # The provided values will be 'true' or 'false'
    label: Checkbox
    type: boolean                           # Renders a Checkbox
    defaultValue: false
    description: Checkbox example